# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.RoofStacks_CaseStudy.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\RoofStacks_CaseStudy\.idea\.idea.RoofStacks_CaseStudy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
